<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" style="margin: 5px 0 5px;">New Recipe</button>
    </div>
  </div>
  <hr>
  <div class="row" *ngFor="let recipe of recipes">
    <div class="col-xs-12">
      <a href="#" class="list-group-item clearfix" style="border-radius: 5px;">
        <div class="row">
          <div class="col-6">
            <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
            <p class="list-group-item-text">{{ recipe.description }}</p>
          </div>
          <div class="col-6" style="text-align: right;margin:auto">
            <img src="{{ recipe.imagePath}}" style="border-radius: 50%;max-width: 50px;">
          </div>
        </div>
      </a>
    </div>
  </div>

<!--using string interpolation on line 16, you can also use property binding on img src you can also use [src]= "recipe.imagePath" -->
